bin
build
c_cpp_properties.json
*.log
.makefile-tools
launch.json
/.config
/lib/**/libapp.a
/lib/**/libwmarch.a
/lib/**/libwmcommon.a
/lib/**/libdrivers.a
/lib/**/libnetwork.a
/lib/**/libos.a
/lib/**/libwmsys.a
/lib/**/libblehost.a
/lib/**/libbthost.a
/tools/csky-elfabiv2-tools-mingw-minilibc-20210423
/tools/msys
.cache